<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="@Assets["css/app.css"]"/>
    <link rel="stylesheet" href="@Assets["css/site.css"]"/>
    <link rel="stylesheet" href="@Assets["TradingStrat.Web.styles.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/svg+xml" href="favicon.svg"/>
    <HeadOutlet @rendermode="InteractiveServer"/>

    <!-- TradingView Widget Script -->
    <script src="@Assets["https://s3.tradingview.com/tv.js"]"></script>
</head>

<body>
<Routes @rendermode="InteractiveServer"/>
<ReconnectModal/>

<script src="@Assets["_framework/blazor.web.js"]"></script>
<script src="@Assets["js/tradingview.js"]"></script>
<script src="@Assets["js/chat-helper.js"]"></script>
<script src="@Assets["js/catalyst.js"]"></script>
</body>

</html>
